<!DOCTYPE html>
<html>
        <head>

                {% block stylesheets %}
                        <link rel="stylesheet" href="{{ asset('bundles/loginlogin/css/bootstrap.min.css') }}">
                        <link rel="stylesheet" href="{{ asset('bundles/loginlogin/css/font-awesome.min.css') }}">
                        <link rel="stylesheet" href="{{ asset('bundles/loginlogin/css/parsley/parsley.css') }}">
                {% endblock %}

        </head>
        <body>

                {% block container %}

                {% endblock %}

                {% block javascripts %}
                        <script type="text/javascript" src="{{ asset('bundles/loginlogin/js/jquery.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('bundles/loginlogin/js/bootstrap.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('bundles/loginlogin/js/parsley/parsley.min.js') }}"></script>
                        <script type="text/javascript" src="{{ asset('bundles/loginlogin/js/parsley/parsley.js') }}"></script>
                        <script type="text/javascript">
                                $('#loginbox').parsley();
                        </script>
                {% endblock %}

        </body>    
</html>
