{%extends "LoginLoginBundle:Default:index.html.twig" %}

{% block container %}
<div class="container">
        <div class="well well-sm">

        <strong>Welcome to the home page of {{name}}</strong>
        
        <a href="{{ path('login_login_logout')}}" > Logout </a>

        {% if error is defined %}
<div class="alert-info fade in">
        <strong> {{error}}</strong>
</div>
        {% endif %}

{%if status is not defined %}
        <form class="form" method="POST" enctype="multipart/form-data" action="{{ path('login_login_homeimage') }}" >
                <h2 class="form-signin-heading"> Upload Image: </h2>
                <input type="file" name="img"><br/>
                <button class="btn btn-large btn-primary" type="submit">Upload</button> 
        </form>
{% elseif status == 'success' %}
        {% if uploadedURL is defined %}
                <img src="{{ asset(uploadedURL) }}">
        {% endif %}
{% else %}
        {% if message is defined %}
<div>
        <p>{{ message }}</p>
</div>
        {% endif %}
{% endif %}
</div><!-- end of div well well-sm -->
</div><!-- end of div  container -->
{% endblock %}